<%= form_for @item, html: { multipart: true } do |f| %>
  <div class="item">
    <%= image_tag @item.image_url.to_s %>
    <h1><%= @item.title %></h1>
    <h2>Artist: <%= @item.artist %></h2>
  </div>
  
  <div class="left">
    <dl class="">
      <dt><%= f.label :title %></dt>
      <dd><%= f.text_field :title %></dd>

      <dt><%= f.label :description %></dt>
      <dd><%= f.text_field :description %></dd>

      <dt><%= f.label :artist %></dt>
      <dd><%= f.text_field :artist %></dd>

      <dt><%= f.label :date %></dt>
      <dd><%= f.text_field :date %></dd>

      <dt><%= f.label :location %></dt>
      <dd><%= f.text_field :location %></dd>

      <dt><%= f.label :history %></dt>
      <dd><%= f.text_area :history %></dd>

      <dt><%= f.label :references %></dt>
      <dd><%= f.text_area :references %></dd>

      <dt><%= f.label :image %></dt>
      <dd><%= f.file_field :image %></dd>
    </dl>
  
    <dl class="dl-horizontal">
      <dt><%= f.submit class: 'btn btn-primary' %></dt>
    </dl>
  </div>
<% end %>
