<div class="artifact">
  <%= link_to image_tag(@artifact.image_url), @artifact.image.url %>
  <h1><%= @artifact.title %></h1>
  <h2>Artist: <%= @artifact.artist %></h2>
</div>

<div class="left">
  <dl class="dl-horizontal">
    <dt>Description</dt>
    <dd><%= @artifact.description %></dd>
    <dt>Date</dt>
    <dd><%= @artifact.date %></dd>
    <dt>Location</dt>
    <dd><%= @artifact.location %></dd>
    <dt>History</dt>
    <dd><%= @artifact.history %></dd>
    <dt>References</dt>
    <dd><%= @artifact.references %></dd>
  </dl>

  <dl class="dl-horizontal">
    <dt>
      <%= link_to 'Edit', edit_artifact_path(@artifact), class: 'btn btn-primary' %>
    </dt>
  </dl>
</div>
