<!DOCTYPE html>
<html>
<head>
  <title>Baltimore Public Works</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <%= link_to 'Baltimore Public Works', :root, class: 'brand' %>
        <div class="nav-collapse">
          <ul class="nav">
            <li><%= link_to "Add to the Collection", new_artifact_path %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="span12">
        <%= yield %>
      </div>
    </div>
  </div>

</body>
</html>
